* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
}
h2 {
    color: rgba(0, 0, 0, 0.904);
    font-size: 3.6rem;
    text-align: center;
    
}
h2:hover{
    color: rgb(168, 49, 215);
    cursor: pointer;
    text-decoration: underline;
}
h3 {
    color: black;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    margin: 7px auto;
}
details {
    text-align: center;}
p{
    font-size: 25px;
    text-align: center;
    margin: 7px auto;
}   

article {
    flex: 1; 
    padding: 20px;
}


footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: auto; 
}